USE [master]
GO
/****** Object:  Database [CUENTAS_BANCOS]    Script Date: 17/02/2021 12:15:53 ******/
CREATE DATABASE [CUENTAS_BANCOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CUENTAS_BANCOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CUENTAS_BANCOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CUENTAS_BANCOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CUENTAS_BANCOS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CUENTAS_BANCOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CUENTAS_BANCOS]
GO
/****** Object:  User [ggp]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [ggp] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [curso2020]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [curso2020] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bbdd2020]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [bbdd2020] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno3]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [alumno3] FOR LOGIN [alumno3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno2]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [alumno2] FOR LOGIN [alumno2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 17/02/2021 12:15:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [alumno2]
GO
/****** Object:  UserDefinedFunction [dbo].[RENDIMIENTO]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RENDIMIENTO] (
@VALOR_INVERSION MONEY,
@INTERESES_MENSUALES MONEY,
@FECHA_APERTURA DATE
)
RETURNS MONEY
AS
BEGIN
DECLARE @RENDIMIENTO MONEY;
set @RENDIMIENTO = ISNULL(@VALOR_INVERSION * 
Power((1+@INTERESES_MENSUALES),DATEDIFF(MONTH,@FECHA_APERTURA,GETDATE())),0);
RETURN @RENDIMIENTO;
END
GO
/****** Object:  Table [dbo].[CDT]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDT](
	[IDINVERSION] [int] IDENTITY(1000,1) NOT NULL,
	[IDCUENTA] [int] NOT NULL,
	[FECHA_APERTURA] [date] NOT NULL,
	[INTERESES_MENSUALES] [money] NOT NULL,
	[VALOR_INVERSION] [money] NOT NULL,
	[ESTADO_CDT] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDINVERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[NIF] [varchar](9) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](150) NULL,
	[MES] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAS]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS](
	[IDCUENTA] [int] IDENTITY(1,1) NOT NULL,
	[SALDO] [money] NOT NULL,
	[NIF] [varchar](9) NOT NULL,
	[ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAS_AHORRO]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS_AHORRO](
	[IDCUENTA] [int] NOT NULL,
	[INTERES_MENSUAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTOS]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS](
	[IDMOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[TIPO_MOVIMIENTO] [char](1) NOT NULL,
	[CANTIDAD] [money] NOT NULL,
	[IDCUENTA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLA_PRUEBA]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLA_PRUEBA](
	[IDSIMULACION] [int] IDENTITY(1,1) NOT NULL,
	[INTERESES_MENSUALES] [money] NULL,
	[VALOR_INVERSION] [money] NULL,
	[FECHA_APERTURA] [date] NULL,
	[SIMULACION]  AS ([dbo].[RENDIMIENTO]([VALOR_INVERSION],[INTERESES_MENSUALES],[FECHA_APERTURA])),
PRIMARY KEY CLUSTERED 
(
	[IDSIMULACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCIONES]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [I_NOMBRE]    Script Date: 17/02/2021 12:15:53 ******/
CREATE NONCLUSTERED INDEX [I_NOMBRE] ON [dbo].[CLIENTES]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTAS] ADD  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[CUENTAS_AHORRO] ADD  DEFAULT ((0)) FOR [INTERES_MENSUAL]
GO
ALTER TABLE [dbo].[CDT]  WITH CHECK ADD  CONSTRAINT [FK_CDT_CUENTAS] FOREIGN KEY([IDCUENTA])
REFERENCES [dbo].[CUENTAS] ([IDCUENTA])
GO
ALTER TABLE [dbo].[CDT] CHECK CONSTRAINT [FK_CDT_CUENTAS]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_CLIENTES] FOREIGN KEY([NIF])
REFERENCES [dbo].[CLIENTES] ([NIF])
GO
ALTER TABLE [dbo].[CUENTAS] CHECK CONSTRAINT [FK_CUENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[CUENTAS_AHORRO]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_AHORRO_CUENTAS] FOREIGN KEY([IDCUENTA])
REFERENCES [dbo].[CUENTAS] ([IDCUENTA])
GO
ALTER TABLE [dbo].[CUENTAS_AHORRO] CHECK CONSTRAINT [FK_CUENTAS_AHORRO_CUENTAS]
GO
ALTER TABLE [dbo].[MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOS_CUENTAS] FOREIGN KEY([IDCUENTA])
REFERENCES [dbo].[CUENTAS] ([IDCUENTA])
GO
ALTER TABLE [dbo].[MOVIMIENTOS] CHECK CONSTRAINT [FK_MOVIMIENTOS_CUENTAS]
GO
ALTER TABLE [dbo].[CDT]  WITH CHECK ADD CHECK  (([ESTADO_CDT]='C' OR [ESTADO_CDT]='A'))
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD CHECK  (([ESTADO]='C' OR [ESTADO]='A'))
GO
ALTER TABLE [dbo].[MOVIMIENTOS]  WITH CHECK ADD CHECK  (([TIPO_MOVIMIENTO]='R' OR [TIPO_MOVIMIENTO]='I'))
GO
/****** Object:  StoredProcedure [dbo].[ALTA_INVERSION]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREAR UN PA PARA DAR DE ALTA UNA INVERSION
--PARAMETROS DE ENTRADA IDCUENTA, INTERESES MENSUALES, VALOR DE LA INVERSION
CREATE PROCEDURE [dbo].[ALTA_INVERSION]
@IDCUENTA INT,
@INTERESES_MENSUALES MONEY,
@VALOR_INVERSION MONEY
AS
INSERT INTO CDT
(
IDCUENTA,
FECHA_APERTURA,
INTERESES_MENSUALES,
VALOR_INVERSION,
ESTADO_CDT
)
VALUES
(
@IDCUENTA,
GETDATE(),
@INTERESES_MENSUALES,
@VALOR_INVERSION,
'A'
);
GO
/****** Object:  StoredProcedure [dbo].[CERRAR_INVERSION]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CERRAR_INVERSION]
@IDINVERSION INT
AS
--OBTENER EL VALOR DE LAS VARIABLES
DECLARE @INTERESES_MENSUALES MONEY, @VALOR_INVERSION MONEY, @FECHA_APERTURA DATE;
DECLARE @RENDIMIENTO MONEY;
SELECT @INTERESES_MENSUALES = INTERESES_MENSUALES,
	 @VALOR_INVERSION = VALOR_INVERSION,
	 @FECHA_APERTURA = FECHA_APERTURA
FROM CDT
WHERE IDINVERSION = @IDINVERSION;
SELECT @INTERESES_MENSUALES, @VALOR_INVERSION, @FECHA_APERTURA;
set @RENDIMIENTO = ISNULL(@VALOR_INVERSION * 
Power((1+@INTERESES_MENSUALES),DATEDIFF(MONTH,@FECHA_APERTURA,GETDATE())),0);
SELECT @RENDIMIENTO;
--CAMBIAR EL ESTATUS DE LA INVERSION
UPDATE CDT
SET ESTADO_CDT = 'C'
WHERE IDINVERSION =@IDINVERSION;
--OBTENER EL ID CUENTA
DECLARE @IDCUENTA INT;
SELECT @IDCUENTA = IDCUENTA FROM CDT WHERE IDINVERSION=@IDINVERSION;
EXECUTE [dbo].[INGRESO] @IDCUENTA, @RENDIMIENTO;
GO
/****** Object:  StoredProcedure [dbo].[CONSULTA_CC]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREAR UN PROCEDIMIENTO ALMACENADO PARA MOSTRAR EL SALDO
--A PARTIR DE IDCUENTA
CREATE PROCEDURE [dbo].[CONSULTA_CC]
@IDCUENTA INT
AS
SELECT SALDO, NIF 
FROM CUENTAS WHERE IDCUENTA=@IDCUENTA;

--CREAR UN PROCEDIMIENTO ALMACENADO PARA MOSTRAR EL SALDO
--A PARTIR DEL IDINVERSION
GO
/****** Object:  StoredProcedure [dbo].[CONSULTA_CDT]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CONSULTA_CDT]
@IDINVERSION INT
AS
SELECT VALOR_INVERSION FROM CDT
WHERE IDINVERSION = @IDINVERSION;



--CREAR UN PA PARA DEVOLVER LA SUMATORIA DE LOS SALDOS DE LAS CUENTAS +
--LOS VALORES_INVERSION DE LAS INVERSIONES 
--PARAMETRO DE ENTRADA NIF
--PARAMETRO DE SALIDA SUMATORIA 
GO
/****** Object:  StoredProcedure [dbo].[INGRESO]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INGRESO]
@IDCUENTA INT,
@CANTIDAD MONEY
AS
--INICIAR LA TRANSACCION
BEGIN TRAN 
	INSERT INTO MOVIMIENTOS
	VALUES
	(
	GETDATE(),
	'I',
	@CANTIDAD,
	@IDCUENTA
	);
	IF @@ROWCOUNT < 1
	  ROLLBACK;
	ELSE
	  BEGIN
		  UPDATE CUENTAS
		  SET SALDO = SALDO + @CANTIDAD
		  WHERE IDCUENTA = @IDCUENTA;
		  IF @@ROWCOUNT < 1
			ROLLBACK;
		  ELSE
			COMMIT;
		END;
GO
/****** Object:  StoredProcedure [dbo].[RECONSTRUIR_SALDO]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECONSTRUIR_SALDO]
AS
--1. PONER A CERO LOS SALDOS DE LAS CUENTAS
UPDATE CUENTAS 
SET SALDO = 0;
--2. CREAR UN CURSOR DE LA TABLA DE MOVIMIENTOS
--1. DECLARAR CURSOR
DECLARE C_MOV CURSOR
LOCAL
FOR
SELECT TIPO_MOVIMIENTO, CANTIDAD, IDCUENTA
FROM MOVIMIENTOS ORDER BY IDCUENTA;
DECLARE @TIPO_MOVIMIENTO CHAR(1), @CANTIDAD MONEY, @IDCUENTA INT;
--2. ABRIR EL CURSOR
OPEN C_MOV;
--3. LEER EL CURSOR
FETCH NEXT FROM C_MOV INTO @TIPO_MOVIMIENTO, @CANTIDAD, @IDCUENTA;
--RECORRER EL CURSOR Y ACTUALIZAR EL SALDO DE CUENTAS
WHILE @@FETCH_STATUS=0
BEGIN
	IF @TIPO_MOVIMIENTO='I'
		UPDATE CUENTAS SET SALDO = SALDO + @CANTIDAD WHERE IDCUENTA= @IDCUENTA;
	IF @TIPO_MOVIMIENTO = 'R'
		UPDATE CUENTAS SET SALDO = SALDO - @CANTIDAD WHERE IDCUENTA = @IDCUENTA;
	FETCH NEXT FROM C_MOV INTO @TIPO_MOVIMIENTO, @CANTIDAD, @IDCUENTA;
END
--CERRAR EL CURSOR
CLOSE C_MOV;
--DESALOJAR DE LA MEMORIA
DEALLOCATE C_MOV;
GO
/****** Object:  StoredProcedure [dbo].[RECONSTRUIR_SALDO_2]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECONSTRUIR_SALDO_2]
AS
--1. PONER A CERO LOS SALDOS DE LAS CUENTAS
UPDATE CUENTAS 
SET SALDO = 0;
--2. CREAR UNA TABLA TEMPORAL CON EL AGRUPAMIENTO POR MOVIMIENTO Y CUENTA SUMANDO LA CANTIDAD
SELECT IDCUENTA, TIPO_MOVIMIENTO, SUM(CANTIDAD) AS CANTIDAD
INTO #RESUMEN 
FROM MOVIMIENTOS
GROUP BY IDCUENTA, TIPO_MOVIMIENTO;

--2. CREAR UN CURSOR DE LA TABLA DE MOVIMIENTOS
--1. DECLARAR CURSOR
DECLARE C_MOV CURSOR
LOCAL
FOR
SELECT TIPO_MOVIMIENTO, CANTIDAD, IDCUENTA
FROM #RESUMEN ORDER BY IDCUENTA;
DECLARE @TIPO_MOVIMIENTO CHAR(1), @CANTIDAD MONEY, @IDCUENTA INT;
--2. ABRIR EL CURSOR
OPEN C_MOV;
--3. LEER EL CURSOR
FETCH NEXT FROM C_MOV INTO @TIPO_MOVIMIENTO, @CANTIDAD, @IDCUENTA;
--RECORRER EL CURSOR Y ACTUALIZAR EL SALDO DE CUENTAS
WHILE @@FETCH_STATUS=0
BEGIN
	IF @TIPO_MOVIMIENTO='I'
		UPDATE CUENTAS SET SALDO = SALDO + @CANTIDAD WHERE IDCUENTA= @IDCUENTA;
	IF @TIPO_MOVIMIENTO = 'R'
		UPDATE CUENTAS SET SALDO = SALDO - @CANTIDAD WHERE IDCUENTA = @IDCUENTA;
	FETCH NEXT FROM C_MOV INTO @TIPO_MOVIMIENTO, @CANTIDAD, @IDCUENTA;
END
--CERRAR EL CURSOR
CLOSE C_MOV;
--DESALOJAR DE LA MEMORIA
DEALLOCATE C_MOV;
GO
/****** Object:  StoredProcedure [dbo].[RETIRO]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETIRO]
@IDCUENTA INT,
@CANTIDAD MONEY
AS
--INICIAR LA TRANSACCION
BEGIN TRAN 
	INSERT INTO MOVIMIENTOS
	VALUES
	(
	GETDATE(),
	'R',
	@CANTIDAD,
	@IDCUENTA
	);
	IF @@ROWCOUNT < 1
	  ROLLBACK;
	ELSE
	  BEGIN
		 --SI ENTRA AQUI´, ES QUE VA TODO OK
		  UPDATE CUENTAS
		  SET SALDO = SALDO - @CANTIDAD
		  WHERE IDCUENTA = @IDCUENTA
		  AND SALDO >= @CANTIDAD;
		  IF @@ROWCOUNT < 1
			ROLLBACK;
		  ELSE
			COMMIT;
		END;
GO
/****** Object:  StoredProcedure [dbo].[SALDO_TOTAL]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SALDO_TOTAL]
@NIF VARCHAR(9),
@SUMATORIA MONEY OUTPUT
AS
SELECT @SUMATORIA = 
ISNULL((SELECT SUM(SALDO) FROM CUENTAS WHERE NIF=@NIF),0)
					+
					ISNULL((SELECT SUM(VALOR_INVERSION) FROM CDT 
					INNER JOIN CUENTAS C ON C.IDCUENTA= CDT.IDCUENTA
					WHERE C.NIF=@NIF),0) ;
--PROBAR EL PROCEDIMIENTO ALMACENADO
GO
/****** Object:  StoredProcedure [dbo].[SIMULACION]    Script Date: 17/02/2021 12:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIMULACION]
@NIF VARCHAR(9),
@SUMATORIA MONEY OUTPUT
AS
SELECT @SUMATORIA = 
ISNULL((SELECT SUM(SALDO) FROM CUENTAS WHERE NIF=@NIF),0)
					+
					ISNULL((SELECT SUM([dbo].[RENDIMIENTO]([VALOR_INVERSION], 
					[INTERESES_MENSUALES],
					[FECHA_APERTURA])) FROM CDT 
					INNER JOIN CUENTAS C ON C.IDCUENTA= CDT.IDCUENTA
					WHERE C.NIF=@NIF),0) ;
GO
USE [master]
GO
